*{
    margin: 0;
    padding: 0%;
}

/* header secation */
.header{
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
}
.navbar{
    background-color: black;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.navbar h6{
    color: white;
    letter-spacing: 12px;
    margin-right: 70px;
}
.nav {
    justify-content: end;
}
.nav-link{
    float: right;
    margin-right: 30px;
}
.nav-link h6{
    letter-spacing: 8px;
}

/* main secation */
.cobolt{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* phone */

@media screen and (max-width: 600px) {
    div.img {
      display: none;
    }
    div.nav {
        justify-content:center;
    }
    .navbar h6{
        letter-spacing: 2.5px;
    }
    .body>.hh{
        margin: 10%;
    }
  }