<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}home{% endblock title %}

<!-- Customizable header content block for child templates -->
{% block header %}
<!-- Navbar items -->
  <div class="collapse navbar-collapse nav" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Navigation links with Bootstrap styling -->
      <li class="nav-item">
        <a class="nav-link active" href="/"><h6>HOME</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about"><h6>ABOUT</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="services"><h6>SERVICES</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="careers"><h6>CAREERS</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact"><h6>CONTACT</h6></a>
      </li>
    </ul>
  </div>
</div>
</nav>
{% endblock header %}

{% block content %}

<div class="card mb-3 cobolt" style="max-width: 100%; margin: 10%; ">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='office.avif') }}" class="img-fluid" alt="office">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Welcome to FUNTIME DEVELOPER Your Partner in Digital Success!</h5>
        <p class="card-text">In the fast-paced world of business, a compelling online presence is non-negotiable. At FUNTIME DEVELOPER,<br> we specialize in B2B solutions designed to empower small businesses in establishing and scaling their operations.</p>
        <h5 class="card-title">Why Choose Us?</h5>
        <p  class="card-text">Tailored Development: Our team of experts collaborates closely with each client, understanding their unique needs to create customized website<br> and app solutions that align with their business goals.Quality & Cost-effectiveness: We take pride in delivering high-quality, cost-effective development services. Utiliz ing the latest technology and industry best practices, we ensure your digital platforms are visually appealing, functional, and optimized for a seamless user experience.
          Ongoing Support: Our commitment doesn't end with development. We offer continuous support and maintenance, ensuring your online presence stays relevant and up-to-date.<br> 
          Digital Partnerships: As a reliable partner, we help small businesses navigate the ever-changing digital landscape, providing the tools needed to stay ahead of<br> the competition.</p>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="card cobolt"style="max-width: 100%; margin: 10%; padding: 5%;">
  <h1 class="card-title">Services We Offer:</h1>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='web developing.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Website Development</h5>
          <p class="card-text">Professionally crafted websites tailored to showcase your products and services.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='cs.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Support & Maintenance</h5>
          <p class="card-text">Ongoing services to keep your online presence current and effective.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='ad.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">App Development</h5>
          <p class="card-text">User-friendly apps designed to engage your audience and boost accessibility.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card cobolt" style="max-width: 100%; margin: 10%; padding: 5%;">
  <h1 class="card-title"> Let's Build Your Digital Success Story!</h1>
  <p class="card-text">Whether you're a startup or an established small business,<br> FUNTIME DEVELOPER is here to be the catalyst for your digital growth.<br> Take the leap towards a strong online presence that propels your business to new heights. <td> Contact us today to explore how our B2B website and app development services can transform your digital landscape. Elevate your business with FUNTIME DEVELOPER.</td></p>

</div>
{% endblock content %}
