{% extends 'base.html' %}

  {% block title %}services{% endblock title %}
<!-- Customizable header content block for child templates -->
{% block header %}
<!-- Navbar items -->
  <div class="collapse navbar-collapse nav" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Navigation links with Bootstrap styling -->
      <li class="nav-item">
        <a class="nav-link" href="/"><h6>HOME</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about"><h6>ABOUT</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="services"><h6>SERVICES</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="careers"><h6>CAREERS</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact"><h6>CONTACT</h6></a>
      </li>
    </ul>
  </div>
</div>
</nav>
{% endblock header %}
{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4" style="max-width: 100%; margin: 10%; padding: 10px;      ">
    <div class="col">
      <div class="card h-100">
        <img src="{{ url_for('static', filename='office.avif') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Website Development</h5>
          <p class="card-text">Our expert team specializes in creating visually stunning and highly functional websites. From captivating landing pages to comprehensive e-commerce platforms, we tailor each site to reflect your brand identity and engage your audience effectively.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">****</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{{ url_for('static', filename='office.avif') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> App Development</h5>
          <p class="card-text">Harness the power of mobile technology with our customized app development services. Whether you need a user-friendly mobile app to connect with your audience or a robust business app to streamline operations, we've got you covered.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">@@@@@</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{{ url_for('static', filename='office.avif') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">E-commerce Solutions</h5>
          <p class="card-text">Unlock new revenue streams with our e-commerce expertise. We design and develop online stores that not only showcase your products beautifully but also provide a seamless and secure shopping experience for your customers.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">*******</small>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="{{ url_for('static', filename='office.avif') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Responsive Design</h5>
            <p class="card-text">In an era where users access websites from various devices, having a responsive design is crucial. Our team ensures your digital platforms are optimized for a flawless experience across desktops, tablets, and mobile devices.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">#######</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{{ url_for('static', filename='office.avif') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Content Management Systems (CMS)</h5>
            <p class="card-text">Take control of your content with our CMS solutions. We integrate user-friendly content management systems, empowering you to update and manage your website's content effortlessly.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">%%%%%%%</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{{ url_for('static', filename='office.avif') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SEO and Digital Marketing</h5>
            <p class="card-text">Enhance your online visibility with our SEO and digital marketing services. We employ strategic approaches to improve your website's search engine rankings, increase traffic, and boost your online presence.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">******</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{{ url_for('static', filename='office.avif') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Support & Maintenance</h5>
            <p class="card-text">Our commitment doesn't end with the launch. We provide ongoing support and maintenance services to ensure your digital assets remain up-to-date, secure, and aligned with the latest industry standards.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">******</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{{ url_for('static', filename='office.avif') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Custom Solutions</h5>
            <p class="card-text">Recognizing that every business is unique, we offer custom development solutions tailored to your specific requirements. Let us bring your digital vision to life with personalized, innovative solutions</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">********</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{{ url_for('static', filename='office.avif') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Why Choose funtime developers?</h5>
            <p class="card-text"><b>Expertise:</b> Benefit from our team's wealth of experience in delivering successful digital projects.

              <br><b>Affordability:</b> Quality services that won't break the bank - we believe in making digital excellence accessible.
              
              <br><b>Collaboration:</b> We work closely with clients, ensuring their ideas and goals are at the forefront of every project.
              
              <br>Take the next step in your digital journey with funtime developer. Contact us today to discuss how our B2B website and app development services can elevate your business in the digital realm.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">**********</small>
          </div>
        </div>
      </div>
  </div>

{% endblock content %}